{% load cms_tags menu_tags compress %}
<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% page_attribute page_title %}</title>
  <meta name="description" content="{% page_attribute meta_description %}">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
  {% compress css %}
  <link rel="stylesheet" href="/static/css/boilerplate.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/1140.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/static/css/styles.sass" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/boilerplate_media.css" type="text/css" charset="utf-8">
  {% endcompress %}
  <link rel="stylesheet" href="/static/css/smallerscreen.css" media="only screen and (max-width: 1023px)">
  <link rel="stylesheet" href="/static/css/mobile.css" media="handheld, only screen and (max-width: 767px)">
  <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
  <![endif]-->
  <script src="js/libs/modernizr-1.6.min.js"></script>
</head>

<body>

  <div id="container" class="container">
    <header>
      <div class="row">
        <div class="twelvecol">
	  <p>Three columns</p>
	</div>
      </div>
    </header>
    
    <div id="main" role="main">
      <div class="row">
        <div class="threecol">
	  <p>Three columns</p>
	</div>
	<div class="threecol">
          <p>Three columns</p>
	</div>
	<div class="threecol">
          <p>Three columns</p>
	</div>
	<div class="threecol last">
          <p>Three columns</p>
	</div>
      </div>
    </div>
    
    <footer>
      <div class="row">
        <div class="twelvecol">
	  <p>Three columns</p>
	</div>
      </div>
    </footer>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/libs/jquery-1.4.4.js"%3E%3C/script%3E'))</script>
  {% compress js %}
  <script src="/static/js/plugins.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/script.js" type="text/javascript" charset="utf-8"></script>
  {% endcompress %}
  <!--[if lt IE 7 ]>
    <script src="/static/js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg');</script>
  <![endif]-->
  <script>
   var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>
